@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
body {
	background-color: $bg-color;
	font-family: 'Inter', sans-serif;
	overflow-x: hidden;
}
button {
	font-family: 'Inter', sans-serif;
}

