@mixin flex-row($justify-content: flex-start, $align-items: stretch) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
	flex-direction: row;
}

@mixin flex-column($justify-content: flex-start, $align-items: stretch) {
	@include flex-row($justify-content, $align-items);
	flex-direction: column;
}
